.messages{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 100%;
    border-bottom: 5px solid #ce039b;
    border-top: 5px solid #ce039b;
    border-right: 5px solid #ce039b;
    border-left: 5px solid #ce039b;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.comment_alignment{
    position: relative;
    bottom: 178px;
}

#message_text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 224, 14);
}

#name{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(251, 255, 0);
    font-size: 25px;
}

#date{
    font-size: 15px;
}
